.main-content {
  display: flex;
  position: relative;
  z-index: 2;
  .side-bar {
    background: #fff;
    width: 280px;
    @media (max-width: 990px) {
      display: none;
    }
  }
  .content {
    background: #f7f7f7;
    width: calc(100% - 280px);
    height: auto;
    min-height: 100vh;
    padding: 30px 30px 50px;
    @media (max-width: 990px) {
      width: 100%;
    }
  }
}
