* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  z-index: 0;
}

a,span {
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

button, input[type=submit] {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

input {
  border: none;
  outline: none;
}

img {
  vertical-align: middle;
}

html,body {
  width: 100%;
  height: 100%;
  font-family: 'Lato', sans-serif;
  button {
    font-family: 'Lato', sans-serif;
  }
}
